body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative; /* Para posicionar el endTime */
}
#playPauseButton {
  cursor: pointer;
  margin: 0; /* Elimina el margen */
  padding: 0; /* Elimina el espacio interno */
}
#playPauseButton img {
  width: 40px; /* Ajusta el tamaño del ícono */
  height: 40px;
}
#currentStation {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}
#stationList {
  list-style: none;
  padding: 0;
}
#stationList li {
  padding: 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#stationList li:hover {
  background-color: #d0d0d0;
}
#stationList li.active {
  background-color: #60B5FF;
  color: white;
}
audio {
  display: none; /* Ocultar el reproductor nativo */
}
#programTitle {
  margin-top: 20px; /* Espacio entre el modo y el título */
  font-size: 1.1em;
  text-align: center; /* Centrar el título */
}
h1 {
  font-size: 1.5em;
  color: #222;
  margin: 0 0 10px 0;
}
#endTime {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9em;
  color: #555;
}
#nextEvent {
  margin-top: 10px;
  font-size: 0.9em;
  color: black; /* Cambiar el color del texto a negro */
  text-align: center;
}
#nextEventDetails {
  font-size: 0.9em;
  color: #555; /* Color más claro para los detalles */
}
#modeIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7em;
  color: #000000;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#scrollToTopButton {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #0b49e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#scrollToTopButton:hover {
  background-color: #1c30e4;
}

#controls {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos uniformemente */
  align-items: center;
  width: 82%; /* El contenedor ocupa el 80% del ancho total */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  margin-top: 20px;
}

#scrollToStationsButton img,
#playPauseButton img,
#shuffleButton img {
  width: 50px; /* Tamaño de los íconos */
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

#scrollToStationsButton img:hover,
#playPauseButton img:hover,
#shuffleButton img:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

#scheduleContainer {
  margin-top: 20px;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#scheduleTitle {
  font-size: 0.8em;
  color: #333;
  margin-bottom: 10px;
}

#programList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-item {
  display: flex;
  justify-content: space-between; /* Mantener el espacio entre el nombre y la hora */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 10px 15px; /* Espacio interno */
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9; /* Fondo claro */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transición suave al pasar el cursor */
}

.current-program {
  background-color: #d4edda; /* Verde claro */
  color: #0085f9; /* Verde oscuro */
  font-weight: bold;
  border: 1px solid #60B5FF; /* Borde verde oscuro */
  padding: 10px 15px; /* Asegurar que el texto no esté al extremo */
}

.program-name {
  font-family: "Source Code Pro", monospace; /* Cambiar la fuente */
  font-optical-sizing: auto;
  font-size: 0.73em;
  margin-right: 10px; /* Espacio entre el nombre y la hora */
  text-align: left;
  flex: 1; /* Permitir que el nombre ocupe más espacio si es necesario */
}

.program-time {
  text-align: right;
  color: #555;
  font-size: 0.9em;
  margin-left: 10px; /* Espacio entre la hora y el borde */
  flex-shrink: 0; /* Evitar que la hora se reduzca demasiado */
  align-self: center; /* Asegurar que la hora esté centrada verticalmente */
}

#programList li {
  margin: 5px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 0.9em;
}

#currentDayIndicator {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 0.6em; /* Aumentar el tamaño del texto */
  color: #000000; /* Cambiar el color del texto a blanco */
  background-color: #ffffff; /* Fondo azul */
  padding: 8px 15px; /* Espaciado interno para parecer un botón */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
  font-weight: bold;
  border: none; /* Eliminar bordes */
  cursor: pointer; /* Cambiar el cursor a mano al pasar el mouse */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

#currentDayIndicator:hover {
  background-color: #fafafa; /* Cambiar el color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

#currentDayIndicator:active {
  transform: scale(0.95); /* Efecto de clic */
}

#footerText {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #333; /* Color del texto */
}
